<template>
    <Page defaultRoute="/home">
        <ActionBar class="name">
            <Label style="color:white; font-size: 20px" text="Выберите конвертор"/>
        </ActionBar>
        <StackLayout class="container">
            <FlexboxLayout class="hello" justifyContent='start' alignItems='center'>
            </FlexboxLayout>
            <StackLayout class="container2">
                <FlexboxLayout class="buttons">
                    <Button @tap="$navigator.navigate('/weight')" class="pages"> Масса </Button>
                    <Button @tap="$navigator.navigate('/temperature')" class="pages"> Температура </Button>
                    <Button @tap="$navigator.navigate('/long')" class="pages"> Длина </Button>
                    <Button @tap="$navigator.navigate('/square')" class="pages"> Площадь </Button>
                    <Button @tap="$navigator.navigate('/energy')" class="pages"> Энергия </Button>
                </FlexboxLayout>
            </StackLayout>
        </StackLayout>
    </Page>
    
</template>

<script>
</script>

<style scoped lang="scss">
    @import '@nativescript/theme/scss/variables/blue';
    .name{
    background-color: #4270bd;
    font-size: 26px;
    color: white;
}
    Button{
    margin: 0;
    }
    .pages Button{
        height: 100px;
    }
    .container{
        width: 100%;
        height: 100%;
    }
    .hello{
        width: 100%;
        height: 150px;
        font-size: 24px;
        background-color: #5242bd ;
        color: white;
    }
    .container2{
        height: 100%;
        width: 100%;
    }
    .buttons{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        background-color: #5242bd;

    }
    .pages{
        width: 33.33%;
        height: 20%;
    }
</style>
