<template>
    <Page defaultRoute="/square">
        <ActionBar class="name">
            <Label style="color:white; font-size: 20px" text="Площадь"/>
        </ActionBar>
        <StackLayout class="container" verticalAlignment="top">
          <FlexboxLayout class="container2"  flexDirection="column">
            <FlexboxLayout class="select" flexDirection="row">
                <ListPicker 
                    class="select-type"
                    :items="listOfItems" 
                    v-model="firstType"
                />
                <ListPicker 
                    class="select-type"
                    :items="listOfItems" 
                    v-model="secondType"
                    selectedIndex="0"
                />
            </FlexboxLayout>
            <FlexboxLayout class="convert">
                <TextField 
                    class="textfield"
                    :text="firstValueField" 
                    v-model="firstValueField"
                    hint="0"
                />
                <button 
                class="button-reverse"
                @tap="reverse()" 
                text="⇆" 
                />
                <Label :text="secondValueField" class="labelResult"/>
            </FlexboxLayout>  
            <button 
                @tap="$navigator.back()" 
                text="Назад" 
                class="buttonBack"
            />
        </FlexboxLayout>
      </StackLayout>
    </Page>
</template>

<script>
export default {
    data() {
        return {
            firstValueField: 0,
            firstType: 0,
            secondType: 0,
            secondValueField: 0,
            listOfItems: [
                'Ар(сотка)',
                'Декар',
                'Гектар'
            ],
        }
    },
    watch: {
        firstType() {
            this.convert();
        },
        secondType() {
            this.convert();   
        },
        firstValueField(){
           this.convert();
        }
    },
    methods: {
        convert(){
            if(this.firstType === 0){
                if(this.secondType===0){
                    this.secondValueField = this.firstValueField * 1;
                }
                if(this.secondType===1){
                    this.secondValueField = this.firstValueField * 0.1;
                }
                if(this.secondType===2){
                    this.secondValueField = this.firstValueField * 0.01;
                }
            }
            if(this.firstType === 1){
                if(this.secondType===0){
                    this.secondValueField = this.firstValueField * 10;
                }
                if(this.secondType===1){
                    this.secondValueField = this.firstValueField * 1;
                }
                if(this.secondType===2){
                    this.secondValueField = this.firstValueField * 0.01;
                }
            }
            if(this.firstType === 2){
                if(this.secondType===0){
                    this.secondValueField = this.firstValueField * 100;
                }
                if(this.secondType===1){
                    this.secondValueField = this.firstValueField * 10;
                }
                if(this.secondType===2){
                    this.secondValueField = this.firstValueField * 1;
                }
            }
        },
        changeFirstType($event) {
            this.firstValueField = this.listUnits[$event.value]
        },
        changeSecondType($event) {
            this.secondValueField = this.listUnits[$event.value]
        },
        reverse(){
            const saveFirstType= this.secondType;
            this.secondType = this.firstType;
            this.firstType = saveFirstType;
        }
    },

}
</script>
<style scoped lang="scss">
.name{
    background-color: #4270bd;
    font-size: 26px;
    color: white;
}
.container{
    width: 100%;
    height: 100%;
    background-color:white ;
}
.select-type{
    width: 50%;
}
.container2{
    width: 100%;

}
.select{
    width: 100%;
}
.convert{
    width: 100%;
    font-size: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.textfield{
    font-size: 26px;
    width: 33%;
}
.button-reverse{
    width: 5%;
    font-size:30px ;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #42bd52 ;
    color:white;
}
.labelResult{
    width: 33%;
}
.buttonBack{
    background-color: #5242bd ;
    color: white;
}
</style>